{include file="public:head" /}

    <main id="main-container" style="min-height: 912px;">
        <ol class="breadcrumb">
            <a class="link-effect">关键字管理</a>
        </ol>

        <div class='content'>

            <div class="block-content">
                <form class="form-builder row" name="form-builder" action="/admin/index/add" method="post">
                    <div class="form-group col-md-12 " id="form_group_title">
                        <label class="col-xs-12" for="title">关键字描述</label>
                        <div class="col-sm-12">
                            <input class="form-control" type="text" id="remark" name="remark" value="" placeholder="请输入关键字" required="required">
                            <div class="help-block">必填</div>
                        </div>
                        <label class="col-xs-12" for="title">相关书籍</label>

                        <div class="col-xs-5">
                            <select  class="selectpicker show-tick form-control" name='bookid'  data-live-search="true">
                                {volist name="book" id="bvo"}
                                <option value="{$bvo.id}" {if condition="$bvo.id eq -1"} selected = "selected" {/if}>{$bvo.title}{if condition="$bvo.id eq -1"} --当前选择{/if}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-xs-12">
                            <button class="btn btn-minw btn-primary " target-form="form-builder" type="submit" autocomplete="off" id="submit">提交</button>
                            <button class="btn btn-default" type="button" onclick="javascript:window.location.href='/admin/index/Keyword.html'">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {include file="public:foot" /}
