<div class="side-content" id="sidebar-menu">

    <ul class="nav-main" id="side-item">
        {volist name="menu" id="vo"}
        {empty name="$vo.listArea"}
            <li>
                <a  href="/admin/{$vo.url}" target="_self"><span class="sidebar-mini-hide">{$vo.menu_name}</span></a>
            </li>
        {else /}
            <li class="dropdown open">
                <a href="{$vo.url}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{$vo.menu_name} <span class="caret"></span></a>
                <ul class="dropdown">
                    {volist name="vo.listArea" id="v"}
                    <li >
                        <a  href="/admin/{$v.url}" target="_self"><span class="sidebar-mini-hide">{$v.menu_name}</span></a>
                    </li>
                    {/volist}
                </ul>
            </li>
        {/empty}
        {/volist}

    </ul>


</div>