{include file="public:head" /}
<main id="main-container" style="min-height: 912px;">
    <ol class="breadcrumb">
        <a class="link-effect">渠道章节</a>
    </ol>
    <div class='content'>
        <div class="block-content tab-content">
            <div class="tab-pane active">
                <div class="row module-list push-20">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-builder table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>序号ID</th>
                                    <th>渠道名称</th>
                                    <th>第一次打开章节</th>
                                    <th class="column-right_button">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="data" id="vo"}
                                <tr>
                                    <td>{$vo.id} </td>
                                    <td>{$vo.channel} </td>
                                    <td>{$vo.b_title} {empty name="$vo.b_title"} {else /} - {/empty} {$vo.ch_title}</td>
                                    <td>
                                        <a href="{:url('Channel/editArticle',['id' => $vo['id']])}"> 编辑章节 </a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="data-table-toolbar">
                    <div class="row">
                        <div class="col-sm-12">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public:foot" /}
