
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="https://s.zhulang.com/wap/v2/js/lib/flexible.0.3.4.js"></script>
    <link href="https://s.zhulang.com/images/zl-logo114.png" rel="apple-touch-icon-precomposed">
    <title>充值-逐浪网</title>
    <meta name="keywords" content="小说,小说网,逐浪手机版,充值,逐浪币充值" />
    <meta name="description" content="逐浪网手机版逐浪币充值页面，为你的逐浪账户充值，提供微信，支付宝，手机支付等主流支付方式。" />
    <link rel="stylesheet" href="https://s.zhulang.com/wap/pub/v2/style/zlm-b4a23cdd8b.css" type="text/css">
    <script type="text/javascript" src="https://s.zhulang.com/wap/v2/js/lib/lib.js"></script>
    <script type="text/javascript" src="https://s.zhulang.com/wap/pub/v2/js/bundle/charge-9b02cd133d.js"></script>
</head>
<body ontouchstart >
<div class="wrap">
    <header class="pg-hd">
        <a href="javascript:void(0)" class="icon fl backicon"><i class="iconfont">&#xe606;</i></a>
        <h2>充值</h2>
        <a href="https://m.zhulang.com" class="icon fr"><i class="iconfont">&#xe600;</i></a>
    </header>

    <div class="cm-box ac-info">
        <p>账户：小海豚_65300450</p>
        <p>余额：<strong>0</strong> 逐浪币</p>
    </div>




    <h3 class="ch3">
        选择支付方式
    </h3>
    <div class="cm-box cm-mb">
        <ul class="pay-way" id="pay-way">

            <li class="alipay">
                <a href="https://m.zhulang.com/pay/index/alipay.html">
                    <em></em><label>支付宝</label>
                </a>
            </li>
            <li class="weixin" id="app-wx" style=" display:none;">
                <a href="https://m.zhulang.com/pay/index/wx.html">
                    <em></em><label>微信支付</label>
                </a>
            </li>
            <li class="weixin" id="wap-wx">
                <a href="https://m.zhulang.com/pay/index/wap_wx.html">
                    <em></em><label>微信支付</label>
                </a>
            </li>
            <!-- <li class="qpay">
            <a href="https://m.zhulang.com/pay/index/qq.html">
                <em></em><label>QQ钱包</label>
            </a>
        </li> -->


        </ul>
    </div>

    <div class="cm-box cm-mb cm-txt">
        <h4>提示</h4>
        <ol>
            <li>您所充值的逐浪币只限本站使用</li>
            <li>逐浪币可用于打赏作者、小说VIP章节订阅等，通过手机充值的逐浪奖金币不能用于打赏</li>
            <li>若支付完成后，长时间未接收到充值结果的系统提示，且账户余额没有变化，请联系客服：025-66670800</li>
        </ol>
    </div>
</div>


<script>
    $(function(){

        if(navigator.userAgent.match(/MicroMessenger/i)){
            $('#app-wx').length && $('#app-wx').show();
            $('#wap-wx').length && $('#wap-wx').hide();
            $('#scan-wx').length && $('#scan-wx').show();
        }else{
            $('#app-wx').length && $('#app-wx').hide();
            $('#wap-wx').length && $('#wap-wx').show();
            $('#scan-wx').length && $('#scan-wx').hide();
        };


        $('#pay-way').find('li a').on('click',function(e){
            e.stopPropagation()
        });

    })
</script>

</body>
</html>