<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="/static/js/flexible.0.3.4.js"></script>
    <link href="https://s.zhulang.com/images/zl-logo114.png" rel="apple-touch-icon-precomposed">
    <title>女生小说_逐浪小说</title>
    <meta name="keywords" content="女生小说,言情小说">
    <meta name="description" content="逐浪女生小说言情小说，新小说吧">
    <link rel="stylesheet" href="/static/css/home-41c290bd8f.css" type="text/css">
    <script>
        var userInfo = {
            uid : "",
            nick : ""
        };
        var bookInfo = {
            bid : "",
            bookname : ""
        };
    </script>
</head>


<body ontouchstart >
<div class="wrap girl">
    <header class="pg-hd">
        <a href="javascript:void(0)" class="icon fl backicon"><i class="iconfont">&#xe606;</i></a>
        <h2 class="h2-tab"> <a href="https://m.zhulang.com/category/boys.html">男生</a> <a href="https://m.zhulang.com/category/girls.html" class="cur">女生</a> </h2>
        <a href="https://m.zhulang.com" class="icon fr"><i class="iconfont">&#xe600;</i></a>
    </header>

    <div class="top-s">
        <div class="swiper-container top-bnr" id="top-bnr" data-loop="true" data-auto="5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="https://m.zhulang.com/557446/" title="娇宠萌妻，顾总轻点宠"><img  src="../static/picture/s.gif" data-bg="https://i.zhulang.com/admin/bang/2018-10-29/5bd67f6537d3e.jpg" alt="娇宠萌妻，顾总轻点宠"></a>
                    <h3><span>娇宠萌妻，顾总轻点宠</span><em>1/3</em></h3>
                </div>
                <div class="swiper-slide">
                    <a href="https://m.zhulang.com/575303/" title="替嫁甜妻：总裁抢婚宠上天"><img  src="../static/picture/s.gif" data-bg="https://i.zhulang.com/admin/bang/2018-10-29/5bd67f6538aa5.jpg" alt="替嫁甜妻：总裁抢婚宠上天"></a>
                    <h3><span>替嫁甜妻：总裁抢婚宠上天</span><em>2/3</em></h3>
                </div>
                <div class="swiper-slide">
                    <a href="https://m.zhulang.com/558996/" title="总裁蜜宠百分百"><img  src="../static/picture/s.gif" data-bg="https://i.zhulang.com/admin/bang/2018-10-29/5bd67f6539027.jpg" alt="总裁蜜宠百分百"></a>
                    <h3><span>总裁蜜宠百分百</span><em>3/3</em></h3>
                </div>
            </div>
        </div>
    </div>

    <section class="com-sec bk-list">
        <div class="ch2">
            <h2>女生热点</h2>
        </div>
        <ul>
            <li> <a href="https://m.zhulang.com/538287/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/53/82/538287_x160.jpg"></dt>
                    <dd>
                        <h3>重生小甜妻</h3>
                        <h4>掉沙漠里的泪 | 豪门世家</h4>
                        <p>重生前，沐七夕惨遭老公杀害，让整个家族落入他人之手。睁开双眼，通晓未来的沐七夕犹如开了挂一般，虐渣男，撕渣女找真爱，直接走向了人生巅峰。
                            “四爷，夫人和别的女人打起来了。”
                            “该死的女人......”
                            “四爷，你别和夫人生气。”
                            “敢欺负我媳妇，灭了她。”
                            “......”
                            “四爷，有男的来找夫人。”
                            “就说夫人忙着，没空。”
                            “老公，我和你商量点事。”
                            “好，回屋商量......”</p>
                    </dd>
                </dl>
            </a> </li>
            <li> <a href="https://m.zhulang.com/525923/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/52/59/525923_x160.jpg"></dt>
                    <dd>
                        <h3>报告爹地，妈咪又想逃</h3>
                        <h4>多肉宝贝 | 豪门世家</h4>
                        <p>酒会上穆芊芊想要除去油腻的未婚大叔，奈何却认错了人！从此就被某大魔王boss赖上了！还外加一个萌萌的小包子！
                            “我不要嫁给你！不要当后妈！”
                            “哪个王八蛋说你是后妈的！乖，是亲妈。”
                            婚后，小包子拿着娃娃得瑟的显摆给他爹
                            “ 爹地，这是妈咪送我的。”
                            他爹的脸黑了黑。
                            “爹地，妈咪新给我买了件衣服，好看吗？”
                            他爹的眼睛里都要冒箭了！
                            穆芊芊一回家，就被大魔王拦腰扛起了
                            “路瑾昀！你干嘛！”
                            大魔王傲娇的瞥了他儿子一眼！“小子！你妈咪是我的！”</p>
                    </dd>
                </dl>
            </a> </li>
            <li> <a href="https://m.zhulang.com/570643/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/57/6/570643_x160.jpg"></dt>
                    <dd>
                        <h3>豪门霸爱：百变娇妻宠翻天</h3>
                        <h4>古月七陌 | 豪门世家</h4>
                        <p>【女强男强】【霸宠霸爱酷爽帅】
                            人人都知道祝氏家族的大当家有个帅气妖孽又聪明能干的儿子，却不知这位大名鼎鼎的“祝大少”还有着另外一个身份，一个全新的身份——赛场上的不败女王，她的名字叫祝白鸽。
                            人人都知道阙氏集团的头把椅是个霸道狂傲、腹黑无常的狠角色，且这位同样创下“不败神话”的大boss不仅对事万无一失，对人亦然，所以才又得了另一个称谓——从不失手的情场大佬，他的名字叫阙三千。
                            当大难不死的桀骜女王碰上最善谋心的邪魅总裁，究竟是谁吃了谁的亏？又是谁攻占了谁的心？
                            这样强势的两个人能否负负得正？
                            那三千白鸽又能否比翼齐飞？
                            battle一场，宠一下，爱情在偷偷发芽……</p>
                    </dd>
                </dl>
            </a> </li>
        </ul>
    </section>

    <section class="com-sec">
        <div class="ch2">
            <h2>编辑热推</h2>
        </div>

        <!--某些浏览器如UC不支持flex-wap 只能单行显示-->
        <ul class="smp-list">
            <li>
                <a href="https://m.zhulang.com/523979/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/52/39/523979_x160.jpg"><span>风华太子妃</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/522640/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/52/26/522640_x160.jpg"><span>总裁霸宠：萌妻花式带球跑</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/566352/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/56/63/566352_x160.jpg"><span>妃你不可：腹黑王爷不好追</span>
                </a>
            </li>
        </ul>
        <ul class="smp-list">
            <li>
                <a href="https://m.zhulang.com/572227/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/57/22/572227_x160.jpg"><span>宗主大人，悍妻嫁到</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/571729/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/57/17/571729_x160.jpg"><span>萌宝强助攻：墨少跪榴莲</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/491053/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/49/10/491053_x160.jpg"><span>偷心逃妻：总裁，请深爱</span>
                </a>
            </li>
        </ul>
    </section>

    <section class="com-sec bk-list sale-list">
        <div class="ch2">
            <h2>限时免费</h2>
        </div>
        <ul>
            <li><a href="https://m.zhulang.com/577958/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/57/79/577958_x160.jpg"><i class="sale">限免</i></dt>
                    <dd>
                        <h3>邪蟒神瞳</h3>
                        <h4>倚槛听风 | 现代修真</h4>
                        <p>少年冷彻生日那天父母被杀，在歹徒和巨蟒的追击下，逃进了一座侵略者遗留下的碉堡。蟒蛇的精血和侵略者留下的生化药物让他基因突变，拥有了诸多逆天的超能力。
                            且看少年冷彻如何走向自强之路，叱咤风云，缘定三生，开启一段精彩纷呈的人生路。</p>
                        <span class="brown cor-r" data-lft="180352" data-pre="还剩"></span> </dd>
                </dl>
            </a> </li>
            <li><a href="https://m.zhulang.com/502467/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/50/24/502467_x160.jpg"><i class="sale">限免</i></dt>
                    <dd>
                        <h3>不朽神医</h3>
                        <h4>佩玉 | 异能奇术</h4>
                        <p>肚子疼？能治！脑袋中枪？也能治！
                            一根银针包治百病的不朽神话。</p>
                        <span class="brown cor-r" data-lft="180352" data-pre="还剩"></span> </dd>
                </dl>
            </a> </li>
        </ul>
    </section>

    <section class="com-sec">
        <div class="ch2">
            <h2>新书尝鲜</h2>
            <em class="htab" id="new-tab"><a href="#nogo" class="cur">潜力榜</a> <a href="#nogo">人气榜</a></em>
        </div>
        <div id="new-con" class="new-con bk-list bk-rank">
            <div>
                <ul>
                    <li> <a href="https://m.zhulang.com/483418/index.html">
                        <dl>
                            <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/48/34/483418_x160.jpg"><i class="num">1</i></dt>
                            <dd>
                                <h3>良将美妻</h3>
                                <h4>十年长安 | 穿越奇情</h4>
                                <p>21世纪国安局冷傲特工，身死重生于千军万马的战场，成了东越王朝尚书府四小姐。
                                    前世孤儿，血雨里来去，今生爹疼娘爱，兄姐和善。
                                    十二年后归京的皇帝四子，有着冠绝天下的容貌，带着一身的秘密慢慢靠近。
                                    东越定远大将军，刚毅深沉，少年英豪，初时不爱，后来又怎么断。
                                    市井油滑少年，身上又背负着什么昔年旧事。
                                    .........
                                    几番离散，恩怨纠缠，牵扯之间，是谁谋夺了谁的心。
                                    京城风云乍起，幸福破碎从来是弹指之间，离开，迷失，她是西越国天定的将星，梦醒，归来，往后她只是特工柒。
                                    乱世中沉浮，素手挽狂澜，披衣做将军，谁坚守信仰守护心中所愿，谁用深情纠缠换得爱情一场。</p>
                            </dd>
                        </dl>
                    </a> </li>
                </ul>
                <p>
                    <a href="https://m.zhulang.com/525455/index.html"><i class="num">2</i> <span>[穿越奇情] 倾世丑妃：皇子要逃婚！</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/562474/index.html"><i class="num">3</i> <span>[东方玄幻] 花尽晚，雪寒生</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/566856/index.html"><i class="num">4</i> <span>[异世大陆] 丹色倾城：教主太妖孽</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/538278/index.html"><i class="num">5</i> <span>[经商种田] 农门锦绣：丞相夫人在种田</span></a>
                </p>
            </div>

            <div style="display: none">
                <ul>
                    <li> <a href="https://m.zhulang.com/496468/index.html">
                        <dl>
                            <dt><img src="../static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/49/64/496468_x160.jpg"><i class="num">1</i></dt>
                            <dd>
                                <h3>庶女惊澜</h3>
                                <h4>心琦 | 架空历史</h4>
                                <p>惊澜若梅，一笑魅众生，只惜，身世坎坷。
                                    夜焱若竹，一笑风月明，只叹，经历多难。
                                    当梅花遇上竹子，
                                    当反手覆灭天下的冷门遇上叱咤江湖的煞利，
                                    缘于天注定的情愫蔓延，
                                    皇宫，江湖，战乱，饥荒，瘟疫……
                                    只愿与你携手，白衣当配红装。</p>
                            </dd>
                        </dl>
                    </a> </li>
                </ul>
                <p>
                    <a href="https://m.zhulang.com/543341/index.html"><i class="num">2</i> <span>[异世大陆] 神帝请自重</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/562014/index.html"><i class="num">3</i> <span>[豪门世家] 形婚不易，总裁悠着点</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/570554/index.html"><i class="num">4</i> <span>[悬疑推理] 女神捕探案记</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/508805/index.html"><i class="num">5</i> <span>[豪门世家] 婚心计：亿万甜妻别想逃</span></a>
                </p>
            </div>
        </div>
    </section>

    <section class="com-sec bk-swp">
        <div class="ch2">
            <h2>重温经典</h2>
        </div>
        <div class="swiper-container" data-loop="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="smp-list">
                        <li>
                            <a href="https://m.zhulang.com/555699/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/55/56/555699_x160.jpg">
                                <span>顾少盛宠：甜妻要逃跑</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/558547/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/55/85/558547_x160.jpg">
                                <span>小娇妻之夏天的风</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/520436/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/52/4/520436_x160.jpg">
                                <span>盛宠99次：总裁的小萌妻</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="smp-list">
                        <li>
                            <a href="https://m.zhulang.com/415625/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/41/56/415625_x160.jpg">
                                <span>皇上，娘娘又跑了</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/450503/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/45/5/450503_x160.jpg">
                                <span>溺宠成婚：首席，请深爱</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/457610/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/xxs_book_cover/image/45/76/457610_x160.jpg">
                                <span>甜妻入瓮：总裁大人，别宠我</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="app-down">
        <a href="https://m.zhulang.com/index/app/section/girls.html" class="app-link">下载逐浪小说App客户端</a>
        <span>海量独家小说，完美阅读体验</span>
    </section>

    <div class="usr-btm">
        <a href="https://m.zhulang.com/login/index.html" class="blue fl">登录</a>
        <a href="#top" class="blue fr"><i class="icon iconfont">&#xe609;</i> 返回顶部</a>
    </div>

    <div class="btm-nav">
        <div class="btm-sch">
            <form action="https://m.zhulang.com/search/index.html" method="">
                <input type="text" name="k" value="" maxlength="50" placeholder="搜索书名、作者、分类等">
                <button></button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/mlib.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/index-c32156fdb3.js"></script>
</body>
</html>