<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="/static/js/flexible.0.3.4.js"></script>
    <link href="https://s.zhulang.com/images/zl-logo114.png" rel="apple-touch-icon-precomposed">
    <title>男生小说_逐浪小说</title>
    <meta name="keywords" content="男生小说_逐浪小说">
    <meta name="description" content="男生小说_逐浪小说">
    <link rel="stylesheet" href="/static/css/home-41c290bd8f.css" type="text/css">
    <script>
        var userInfo = {
            uid : "",
            nick : ""
        };
        var bookInfo = {
            bid : "",
            bookname : ""
        };
    </script>
</head>


<body ontouchstart >
<div class="wrap">
    <header class="pg-hd">
        <a href="javascript:void(0)" class="icon fl backicon"><i class="iconfont">&#xe606;</i></a>
        <h2 class="h2-tab"> <a href="https://m.zhulang.com/category/boys.html" class="cur">男生</a> <a href="https://m.zhulang.com/category/girls.html">女生</a> </h2>
        <a href="https://m.zhulang.com" class="icon fr"><i class="iconfont">&#xe600;</i></a>
    </header>

    <div class="top-s">
        <div class="swiper-container top-bnr" id="top-bnr" data-loop="true" data-auto="5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="https://m.zhulang.com/541634/index.html" title="帝王阁"><img  src="../static/picture/s.gif" data-bg="https://i.zhulang.com/admin/bang/2018-10-29/5bd689a29c089.jpg" alt="帝王阁"></a>
                    <h3><span>帝王阁</span><em>1/3</em></h3>
                </div>
                <div class="swiper-slide">
                    <a href="https://m.zhulang.com/529559/index.html" title="星际生物帝国"><img  src="../static/picture/s.gif" data-bg="https://i.zhulang.com/admin/bang/2018-10-29/5bd67ddd2d82c.jpg" alt="星际生物帝国"></a>
                    <h3><span>星际生物帝国</span><em>2/3</em></h3>
                </div>
                <div class="swiper-slide">
                    <a href="https://m.zhulang.com/552694/index.html" title="大河峥嵘"><img  src="../static/picture/s.gif" data-bg="https://i.zhulang.com/admin/bang/2018-10-29/5bd67c7371bfe.jpg" alt="大河峥嵘"></a>
                    <h3><span>大河峥嵘</span><em>3/3</em></h3>
                </div>
            </div>
        </div>
    </div>

    <section class="com-sec bk-list">
        <div class="ch2">
            <h2>男生热点</h2>
        </div>
        <ul>
            <li> <a href="https://m.zhulang.com/523440/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/52/34/523440_x160.jpg"></dt>
                    <dd>
                        <h3>盖世仙道</h3>
                        <h4>岁月霞光 | 洪荒神话</h4>
                        <p>洪武大陆辽阔无边，浩瀚无际。有无上帝国镇压万世，有昆仑仙迹渺渺独立，有西土佛音普度众生，亦有无边血海杀气腾腾，更有妖族大圣凶焰滔天。一代玄仙叶无道在渡劫时遭强敌围攻，身死道消，却意外的回到了八百年前的年少时代，看叶无道如何镇压强敌，一步步的走向大陆巅峰，揭开洪武大陆尘封已久的历史。</p>
                    </dd>
                </dl>
            </a> </li>
            <li> <a href="https://m.zhulang.com/541634/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/54/16/541634_x160.jpg"></dt>
                    <dd>
                        <h3>帝王阁</h3>
                        <h4>狗尾巴草咯 | 异世大陆</h4>
                        <p>天地为牢，岁月为锁，大道路艰，吾心所向，破四海八荒，驭万物生灵。</p>
                    </dd>
                </dl>
            </a> </li>
            <li> <a href="https://m.zhulang.com/529524/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/52/95/529524_x160.jpg"></dt>
                    <dd>
                        <h3>金甲战神</h3>
                        <h4>西北圣童 | 转世重生</h4>
                        <p>天谴生、寒门育，道魔加持护修行，众神助力统苍穹。护苍生、灭鬼界，金甲披身破乾坤，不辱使命傲群雄。儿女情、英雄泪，波澜姻缘泣鬼神，只惜宿命难为情！......
                            一抹寒月隐云隙，爱妻驾鹤还西去。
                            留我一人独伤悲，不知何时再相聚！
                            生命就是这样，只要你还在坚守，你的情感终会回到你所期待的样子，即使这份情感是痛的，只要你不抛弃，幸福的阳光不可能总是被痛所遮蔽，然而……</p>
                    </dd>
                </dl>
            </a> </li>
        </ul>
    </section>

    <section class="com-sec">
        <div class="ch2">
            <h2>编辑热推</h2>
        </div>

        <!--某些浏览器如UC不支持flex-wap 只能单行显示-->
        <ul class="smp-list">
            <li>
                <a href="https://m.zhulang.com/577248/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/57/72/577248_x160.jpg"><span>至尊灵帝</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/563935/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/56/39/563935_x160.jpg"><span>超品神医</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/551270/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/55/12/551270_x160.jpg"><span>陪都</span>
                </a>
            </li>
        </ul>
        <ul class="smp-list">
            <li>
                <a href="https://m.zhulang.com/434741/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/43/47/434741_x160.jpg"><span>红烛记</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/569256/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/56/92/569256_x160.jpg"><span>海归之梦</span>
                </a>
            </li>
            <li>
                <a href="https://m.zhulang.com/555437/index.html">
                    <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/55/54/555437_x160.jpg"><span>太初道帝</span>
                </a>
            </li>
        </ul>
    </section>

    <section class="com-sec bk-list sale-list">
        <div class="ch2">
            <h2>限时免费</h2>
        </div>
        <ul>
            <li><a href="https://m.zhulang.com/577958/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/57/79/577958_x160.jpg"><i class="sale">限免</i></dt>
                    <dd>
                        <h3>邪蟒神瞳</h3>
                        <h4>倚槛听风 | 现代修真</h4>
                        <p>少年冷彻生日那天父母被杀，在歹徒和巨蟒的追击下，逃进了一座侵略者遗留下的碉堡。蟒蛇的精血和侵略者留下的生化药物让他基因突变，拥有了诸多逆天的超能力。
                            且看少年冷彻如何走向自强之路，叱咤风云，缘定三生，开启一段精彩纷呈的人生路。</p>
                        <span class="brown cor-r" data-lft="180352" data-pre="还剩"></span> </dd>
                </dl>
            </a> </li>
            <li><a href="https://m.zhulang.com/502467/index.html">
                <dl>
                    <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/50/24/502467_x160.jpg"><i class="sale">限免</i></dt>
                    <dd>
                        <h3>不朽神医</h3>
                        <h4>佩玉 | 异能奇术</h4>
                        <p>肚子疼？能治！脑袋中枪？也能治！
                            一根银针包治百病的不朽神话。</p>
                        <span class="brown cor-r" data-lft="180352" data-pre="还剩"></span> </dd>
                </dl>
            </a> </li>
        </ul>
    </section>

    <section class="com-sec">
        <div class="ch2">
            <h2>新书尝鲜</h2>
            <em class="htab" id="new-tab"><a href="#nogo" class="cur">潜力榜</a> <a href="#nogo">人气榜</a></em>
        </div>
        <div id="new-con" class="new-con bk-list bk-rank">
            <div>
                <ul>
                    <li> <a href="https://m.zhulang.com/568920/index.html">
                        <dl>
                            <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/56/89/568920_x160.jpg"><i class="num">1</i></dt>
                            <dd>
                                <h3>洪荒天尊在都市</h3>
                                <h4>孤独的四爷 | 异能奇术</h4>
                                <p>千万年前，诸天万界掀起一阵腥风血雨，无数强者为抢夺一件天地至宝，纷纷陨落。最后洪荒大神，青玄天尊凭借大法力拿到了天地至宝，却被无数强者围功，遗憾陨落。不想，天地至宝竟然护着青玄天尊的神魂，找到了他曾经留在地球上的一具分身。从此青玄天尊重新崛起，待我他年归来日，便是尔等殒命时！</p>
                            </dd>
                        </dl>
                    </a> </li>
                </ul>
                <p>
                    <a href="https://m.zhulang.com/506348/index.html"><i class="num">2</i> <span>[灵异鬼怪] 阴阳玄术</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/571724/index.html"><i class="num">3</i> <span>[职场商海] 广漂</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/522122/index.html"><i class="num">4</i> <span>[东方玄幻] 凡心证道</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/443748/index.html"><i class="num">5</i> <span>[衍生同人] 秦时明月之纵横九州</span></a>
                </p>
            </div>

            <div style="display: none">
                <ul>
                    <li> <a href="https://m.zhulang.com/569183/index.html">
                        <dl>
                            <dt><img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/56/91/569183_x160.jpg"><i class="num">1</i></dt>
                            <dd>
                                <h3>超级神壕</h3>
                                <h4>莫无痕 | 都市生活</h4>
                                <p>开局一张银行卡，装备全靠装比得！
                                    新手上路，多多关照</p>
                            </dd>
                        </dl>
                    </a> </li>
                </ul>
                <p>
                    <a href="https://m.zhulang.com/421672/index.html"><i class="num">2</i> <span>[现代军事] 血染军魂</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/574878/index.html"><i class="num">3</i> <span>[都市江湖] 阴阳神医在都市</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/539494/index.html"><i class="num">4</i> <span>[衍生同人] 无限逃离</span></a>
                </p>
                <p>
                    <a href="https://m.zhulang.com/550081/index.html"><i class="num">5</i> <span>[东方玄幻] 剑寂神荒</span></a>
                </p>
            </div>
        </div>
    </section>

    <section class="com-sec bk-swp">
        <div class="ch2">
            <h2>重温经典</h2>
        </div>
        <div class="swiper-container" data-loop="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="smp-list">
                        <li>
                            <a href="https://m.zhulang.com/437074/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/43/70/437074_x160.jpg">
                                <span>龙魂战尊</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/466761/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/46/67/466761_x160.jpg">
                                <span>绝代仙王在校园</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/496809/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/49/68/496809_x160.jpg">
                                <span>空棺怨妻</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="smp-list">
                        <li>
                            <a href="https://m.zhulang.com/448689/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/44/86/448689_x160.jpg">
                                <span>帝国的晨辉</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/448689/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/44/86/448689_x160.jpg">
                                <span>帝国的晨辉</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://m.zhulang.com/447588/index.html">
                                <img src="/static/picture/s.gif" data-src="https://i.zhulang.com/book_cover/image/44/75/447588_x160.jpg">
                                <span>清末之帝国崛起</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="app-down">
        <a href="https://m.zhulang.com/index/app/section/boys.html" class="app-link">下载逐浪小说App客户端</a>
        <span>海量独家小说，完美阅读体验</span>
    </section>

    <div class="usr-btm">
        <a href="https://m.zhulang.com/login/index.html" class="blue fl">登录</a>
        <a href="#top" class="blue fr"><i class="icon iconfont">&#xe609;</i> 返回顶部</a>
    </div>

    <div class="btm-nav">
        <div class="btm-sch">
            <form action="https://m.zhulang.com/search/index.html" method="">
                <input type="text" name="k" value="" maxlength="50" placeholder="搜索书名、作者、分类等">
                <button></button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/mlib.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/index-c32156fdb3.js"></script>
</body>
</html>