<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../../static/js/flexible.0.3.4.js"></script>
    <link href="https://s.zhulang.com/images/zl-logo114.png" rel="apple-touch-icon-precomposed">
    <title>仙魔实录目录_逐浪小说</title>
    <meta name="keywords" content="逐浪">
    <meta name="description" content="登录-逐浪手机小说网">
    <link rel="stylesheet" href="../../static/css/style-71b392138c.css" type="text/css">
    <script src = "../../static/js/ssp.js"></script>
    <script>
        var userInfo = {
            uid : "",
            nick : ""
        };
        var bookInfo = {
            bid : "513820",
            bookname : "仙魔实录"
        };
    </script>
    <style type="text/css">
        #feed_nat_1 .wkssp-s-three-image-with-title h3{ font-size: 120%;}
        #feed_nat_2 .wkssp-s-three-image-with-title h3{ font-size: 120%;}
        #feed_nat_3 .wkssp-detail-title{ font-size: 46px;}
        [data-dpr="1"] #feed_nat_3 .wkssp-detail-title {
            font-size:14px;
        }
        [data-dpr="2"] #feed_nat_3 .wkssp-detail-title {
            font-size:28px;
        }
        [data-dpr="3"] #feed_nat_3 .wkssp-detail-title {
            font-size:42px;
        }
    </style>
</head>

<body ontouchstart >
<div class="wrap">
    <header class="pg-hd wh-hd">
        <a href="javascript:void(0)" class="icon fl backicon"><i class="iconfont">&#xe606;</i></a>
        <h2><a href="https://m.zhulang.com/513820/index.html?">仙魔实录</a></h2>
        <a href="https://m.zhulang.com" class="icon fr"><i class="iconfont">&#xe600;</i></a>
    </header>

    <div class="idx-sel">
        <div class="hd-sel">
            <select class="blue" name="" data-link="#val#">
                <option value="https://m.zhulang.com/513820/0/?p=1&order=1"  selected="selected" >1章 - 50章</option>
                <option value="https://m.zhulang.com/513820/0/?p=2&order=1" >51章 - 100章</option>
                <option value="https://m.zhulang.com/513820/0/?p=3&order=1" >101章 - 150章</option>
                <option value="https://m.zhulang.com/513820/0/?p=4&order=1" >151章 - 200章</option>
                <option value="https://m.zhulang.com/513820/0/?p=5&order=1" >201章 - 250章</option>
                <option value="https://m.zhulang.com/513820/0/?p=6&order=1" >251章 - 300章</option>
                <option value="https://m.zhulang.com/513820/0/?p=7&order=1" >301章 - 350章</option>
                <option value="https://m.zhulang.com/513820/0/?p=8&order=1" >351章 - 400章</option>
                <option value="https://m.zhulang.com/513820/0/?p=9&order=1" >401章 - 450章</option>
            </select>
        </div>
        <a href="https://m.zhulang.com/513820/0/?order=2" class=" odr-sel">倒序</a>
    </div>
    <!-- gg-one -->
    <div class="container">
        <div id="feed_nat_1"></div>
    </div>
    <script>
        (function() {
            var inst = window.wkssp.init({
                "said": "d4a56aee5e07737e60348bfee242d510",
                "ssid": "05e2d2d921d6cbbd9aef74b4c52c0019"
            });
            inst.render(document.getElementById('feed_nat_1'));
        })();
    </script>

    <ol class="idx-ol">
        <li><a href="https://m.zhulang.com/513820/21354.html?"><span>序</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21367.html?"><span>第一卷 人世沧桑     第一章 沙谷记事</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21372.html?"><span>第二章 鸠占鹊巢</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21644.html?"><span>第三章 灵晶</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21650.html?"><span>第四章 离村</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21651.html?"><span>第五章 初闻灵根</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21654.html?"><span>第六章 正阳坊市</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21657.html?"><span>第七章 检测灵根</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21663.html?"><span>第八章 散修</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21665.html?"><span>第九章 太一楼</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21669.html?"><span>第十章 再见安义</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21674.html?"><span>第十一章 修仙文字</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/21680.html?"><span>第十二章 无奈</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/24880.html?"><span>第十三章 摆摊</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/24883.html?"><span>第十四章 冯庭玉</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/24888.html?"><span>第十五章 断臂猜想</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/24895.html?"><span>第十六章 黑圈</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/24901.html?"><span>第十七章 残卷</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/24907.html?"><span>第十八章 接肢秘术</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/30000.html?"><span>第十九章 赤炎诀</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/30002.html?"><span>第二十章 广而告之</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/30010.html?"><span>第二十一章 仙魔妖</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/30014.html?"><span>第二十二章 接肢</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33643.html?"><span>第二十三章 炼气一层</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33646.html?"><span>第二十四章 杂书</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33651.html?"><span>第二十五章 双修功法</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33655.html?"><span>第二十六章 魔道功法</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33656.html?"><span>第二十七章 阴尸宗</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33658.html?"><span>第二十八章 飞凤楼</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33663.html?"><span>第二十九章 初识炼体</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/33669.html?"><span>第三十章 梅若彤</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/40538.html?"><span>第三十一章 交易</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/40545.html?"><span>第三十二章 尸皇幽典</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/40550.html?"><span>第三十三章  地下密室</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/40551.html?"><span>第三十四章 修行方案</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/44381.html?"><span>第三十五章 血脉猜想</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/44386.html?"><span>第三十六章 法华楼</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/44390.html?"><span>第三十七章 交易</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/44394.html?"><span>第三十八章  小歇飞凤楼</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/48340.html?"><span>第三十九章 追杀</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/48353.html?"><span>第四十章 裂缝疗伤</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/48361.html?"><span>第四十一章 沼泽之地</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/48363.html?"><span>第四十二章 沼泽洞府</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/48380.html?"><span>第四十三章 炼尸猜想</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/48383.html?"><span>第四十四章 散功</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/54073.html?"><span>第四十五章 噬魂幡一</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/54085.html?"><span>第四十六章 噬魂幡二</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/54102.html?"><span>第四十七章 噬魂幡三</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/54108.html?"><span>第四十八章 噬魂幡四</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
        <li><a href="https://m.zhulang.com/513820/54114.html?"><span>第四十九章 血炼之法</span>
            <i class="icon icon-free">免费</i>
        </a>
        </li>
    </ol>
    <!-- gg-two -->
    <div class="container">
        <div id="feed_nat_2"></div>
    </div>
    <script>
        (function() {
            var inst = window.wkssp.init({
                "said": "d4a56aee5e07737e60348bfee242d510",
                "ssid": "05e2d2d921d6cbbd9aef74b4c52c0019"
            });
            inst.render(document.getElementById('feed_nat_2'));
        })();
    </script>
    <div class="smp-pg idx-pg">
        <a class="pg-prev disabled" ><i class="iconfont">&#xe615;</i></a>
        <span class="pg-dsp">
				<div class="hd-sel">
					<select class="blue" name="" data-link="#val#">
													<option value="https://m.zhulang.com/513820/0/?p=1&order=1"  selected="selected" >1章 - 50章</option>
													<option value="https://m.zhulang.com/513820/0/?p=2&order=1" >51章 - 100章</option>
													<option value="https://m.zhulang.com/513820/0/?p=3&order=1" >101章 - 150章</option>
													<option value="https://m.zhulang.com/513820/0/?p=4&order=1" >151章 - 200章</option>
													<option value="https://m.zhulang.com/513820/0/?p=5&order=1" >201章 - 250章</option>
													<option value="https://m.zhulang.com/513820/0/?p=6&order=1" >251章 - 300章</option>
													<option value="https://m.zhulang.com/513820/0/?p=7&order=1" >301章 - 350章</option>
													<option value="https://m.zhulang.com/513820/0/?p=8&order=1" >351章 - 400章</option>
													<option value="https://m.zhulang.com/513820/0/?p=9&order=1" >401章 - 450章</option>
											</select>
				</div>
			</span>
        <a href="https://m.zhulang.com/513820/0/?p=2&order=1" class="pg-next"><i class="iconfont">&#xe615;</i></a>
    </div>
    <!-- big gg -->
    <div class="container">
        <div id="feed_nat_3"></div>
    </div>
    <script>
        (function() {
            var inst = window.wkssp.init({
                "said": "d4a56aee5e07737e60348bfee242d510",
                "ssid": "da62f1e4af6f6893658e26618007c433"
            });
            inst.render(document.getElementById('feed_nat_3'));
        })();
    </script>
    <section class="app-down">
        <a href="https://m.zhulang.com/index/app.html" class="app-link">下载逐浪小说App客户端</a>
        <span>海量独家小说，完美阅读体验</span>
    </section>

    <div class="usr-btm">
        <a href="https://m.zhulang.com/login/index.html" class="blue fl">登录</a>
        <a href="#top" class="blue fr"><i class="icon iconfont">&#xe609;</i> 返回顶部</a>
    </div>
    <div class="btm-nav">
        <div class="btm-sch">
            <form action="https://m.zhulang.com/search/index.html" method="">
                <input type="text" name="k" value="" maxlength="50" placeholder="搜索书名、作者、分类等">
                <button></button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/mlib.js"></script>
<script type="text/javascript" src="../../static/js/swiper.min.js"></script>
<script type="text/javascript" src="../../static/js/index-c32156fdb3.js"></script>
</body>
</html>